<br>
<div class = "container">
<%= form_with(url: cars_search_path, method: 'get') do |form| %>
  <%= form.label :search, "Search For Cars" %>
  <%= form.text_field :search %>
  <%= form.submit "Search" %>
<% end %>
</div>