<!DOCTYPE html>
<html>
  <head>
    <title>RailsPractice</title>
    <%= render partial: "layouts/link" %>
  </head>
  <body>
    <div class="container">
      <% flash.each do |type, msg| %>
        <div class="alert alert-<%= type %>">
          <%= msg %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
